// Change the content to margin, padding and border-box in all browsers (opinionated).
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-width: 0!important;

    &:before,
    &:after{
        box-sizing: border-box;
    }
}

body {
    font-family: $base_family;
    font-size: $base_size;
    line-height: $base_lh;
    color: $base_text;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
    -moz-osx-font-smoothing: grayscale;
    // -webkit-font-smoothing: antialiased;
    min-width: 320px;
    min-height: 100vh; //don't change it to 'height' will affect the classic pages
}

// HTML5 display definitions
// ==========================================================================

// Add the correct display in IE 9-.
// 1. Add the correct display in Edge, IE, and Firefox.
// 2. Add the correct display in IE.

article,
aside,
details, // 1
figcaption,
figure,
footer,
header,
main, // 2
menu,
nav,
section,
summary { // 1
    display: block;
}

// Add the correct display in IE 9-.

audio,
canvas,
progress,
video {
    display: inline-block;
}

// Add the correct display in iOS 4-7.

audio:not([controls]) {
    display: none;
    height: 0;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
    vertical-align: baseline;
}

// Add the correct display in IE 10-.
// 1. Add the correct display in IE.

template, // 1
[hidden] {
    display: none;
}

// Embedded content
// ==========================================================================

// Remove the border on images inside links in IE 10-.

img {
    border-width: 0;
}

// Hide the overflow in IE.

svg:not(:root) {
    overflow: hidden;
}

iframe{
    border-width: 0;
}

a {
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}