.lt-form{
  &__{
    &field{
      margin-bottom: $spacer_xs;
      position: relative;
    }
    &title{
      font-weight: $weight_bold;
      color: $muted_text;
      margin-bottom: $spacer_xs;
      font-size: $size_md;
    }
    &label{
      font-size: $size_st;
      color: $muted_text;
      font-weight: $weight_normal;
      margin-bottom: $spacer_mi;
      display: inline-block;
    }
    &control{
      position: relative;
      display: inline-block;
      width: 100%;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      background-repeat: no-repeat;
      border: 1px solid #bebec8;
      background-color: $base_fill;
      color: #202022;
      border-radius: 2px;
      padding: 0 12px;
      height: 40px;
      line-height: 38px;
      font-size: $size_st;
      font-weight: $weight_bold;
      min-width: 32px;
      box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.12);
      &:focus{
        border-color: #3367d6;
      }
      &--{
        &error{
          border-left: 2px solid $danger_stroke;
        }
      }
    }
    &textarea{
      height: 60px;
      resize: none;
    }
    &tag{
      position: absolute;
      bottom: 10px;
      color: $muted_text;
      font-weight: $weight_bold;
      right: 12px;
      pointer-events: none;
    }
    &button{
      display: inline-block;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      position: relative;
      background-repeat: no-repeat;
      white-space: nowrap;
      text-decoration: none!important;
      border-width: 0;
      font-weight: $weight_bold;
      background-color: #0067ff;
      color: $color_white;
      transition: background-color .2s,box-shadow .2s;
      border-radius: 2px;
      height: 40px;
      line-height: 38px;
      font-size: $size_st;
      padding: 0 $gutter_st;
      box-shadow: $shadow_dp2;
      min-width: 120px;
      &:focus, &:hover{
        box-shadow: $shadow_dp3;
      }
      &--{
        &loader{
            background-image: url(https://d2jxbtsa1l6d79.cloudfront.net/static/app-static-assets/core/core-1.5.7/images/progress/cn-spinner-white.svg);
            background-repeat:no-repeat;
            background-position: center;
            color: rgba(0, 0, 0, 0) !important;
            transition-duration: 0s;
            background-size: 32px - 12;
        }
      }
    }
    &actions{
      margin: $spacer_sm 0;
    }
    &error{
      color: $danger_text;
      font-size: $size_sm;
      margin-top: $spacer_ti;
      &:empty{
          display: none!important;
      }
    }
  }
}