.lt-toast{
    &s{
        position: fixed;
        bottom: 24px;
        left: 16px;
        max-width: 340px;
        width: 100%;
        z-index: 9000;
    }
    &{
        background-color: rgba($color_black, .87);;
        box-shadow: $shadow_dp2;
        border-radius: 4px;
        padding: 16px 24px;
        color: rgba($color_white, 0.9);
        font-size: $size_md;
        //animation
        animation-name: toastIn;
        transform-origin: bottom center;
        animation-duration: .3s;
        animation-timing-function: ease;
        transition: opacity .3s ease;
        will-change: transform, opacity;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        white-space: nowrap;
    }
    &:not(:first-child){
        margin-top: 16px;
    }
//=========================================================
//element
//=========================================================
    &__{
        &container{
            position: relative;            
            display: flex;
        }
        &icon{
            display: inline-block;
            display: inline-flex;
            line-height: 1;
            align-items: center;
            margin-right: $spacer_mi;
        }
        &main{
            align-self: center;
        }
    }
}

@keyframes toastIn{
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}