.lt-wallet{
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  background: $base_fill;
  box-shadow: $shadow_dp1;
  border-radius: 2px;
  &__{
    &container{
      display: flex;
    }
    &left, &right{
      padding: $gutter_md $gutter_st;
      display: flex;
      flex-direction: column;
    }
    &left{
      min-width: 420px;
      border-right: 1px solid $muted_stroke;
    }
    &right{
      flex: 1;
      transition: all 0.25s ease;
    }
    &heading{
      font-size: $size_xl;
      font-weight: $weight_bold;
      margin: $spacer_ti;
    }
    &content{
      margin: $spacer_mi;
      line-height: 28px;
      font-size: $size_md;
      text-align: center;
      flex: 1;
    }
    &info{
      color: $muted_text;
      max-width: 320px;
      margin: 0 auto;
    }
    &form{
      max-width: 270px;
      margin: auto;
    }
    &error{
      color: $danger_text;
      background: $danger_tint;
      border: 1px solid $danger_stroke;
      font-size: $size_st;
      padding: $gutter_ti $gutter_mi;
      border-radius: 2px;
      margin-bottom: $spacer-xs;
    }
    &link{
      color: $color_link;
      cursor: pointer;
      display: table;
      margin: $spacer_xs auto;
    }
    &footer{
      max-width: 320px;
      color: $muted_text;
      font-size: $size_sm;
      line-height: 18px;
      text-align: center;
      margin: 0 auto;

    }
    &highlight{
      color: $danger_text;
    }
    &tx{
      &s{
        margin: $spacer_xs 0;
      }
      padding: $gutter_ti;
      color: $muted_text;
      background: $muted_fill;
      border: 1px dashed $muted_stroke;
      border-radius: 2px;
      transition: all 0.2s ease;
      &--{
        &warn{
          color: $warn_text;
          background: $warn_tint;
          border: 1px dashed $warn_stroke;
        }
      }
    }
  }
}
@keyframes flicker{
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}