body{
  background: var(--bodyfill);
  font-size: $size_st;
  color: $base_text;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lt-app{
	min-height: 100vh;
	min-width: 768px;
	&__{
		&container{
			position: relative;
			height: 100vh;
      display: flex;
      flex-direction: column;
    }
    &header{
      height: 64px;
      padding: $gutter_xs $gutter_st;
    }
    &logo{
      display: inline-block;
    }
    &img{
      height: 40px;
    }
    &content{
      flex: 1;
      padding: 40px;
      overflow: scroll;
    }
	}
}