<template>
  <transition mode="out-in" @enter="enter" @before-leave="beforeLeave">
    <slot></slot>
  </transition>
</template>
<script type="text/javascript">
export default {
  props: ["parent", "show"],
  methods: {
    enter(el) {
      if (!this.parent) {
        return;
      }
      this.parent.style.opacity = "0";
      el.style.opacity = "0";
      window.setTimeout(() => {
        this.parent.style.height = el.clientHeight + "px";
        this.resetElement(el);
      }, 0);
    },
    resetElement(el) {
      window.setTimeout(() => {
        this.parent.style.opacity = "1";
        el.style.opacity = "1";
        this.parent.style.height = "auto";
      }, 100);
    },
    beforeLeave(el) {
      if (!this.parent) {
        return;
      }
      this.parent.style.height = el.clientHeight + "px";
      this.parent.style.opacity = "0";
    }
  }
};
</script>
