<template>
  <div class="lt-wallet">
    <div class="lt-wallet__container">
      <div class="lt-wallet__left">
        <div class="lt-wallet__content">
          <div class="lt-wallet__icon">
            <img src="https://cdn0.iconfinder.com/data/icons/personal-business-finance-6/64/x-10-512.png" height="60"/>
          </div>
          <div class="lt-wallet__heading">Hi there!</div>
          <div class="lt-wallet__info">
            Balance of {{ fmtAddress }} is <br/>
            <b :class="{'lt-wallet__highlight': highlight}">{{ fmtBalance }}</b>
          </div>
          <div class="lt-wallet__txs">
            <div class="lt-wallet__tx lt-wallet__tx--warn" v-if="unconfirmedTxns && unconfirmedTxns.length > 0">
              <div class="lt-wallet__msg" >You have {{unconfirmedTxns.length}} unconfirmed transaction(s)</div>
            </div>
            <div class="lt-wallet__tx" v-else>
              <div class="lt-wallet__msg">No pending transactions</div>
            </div>
          </div>
        </div>
        <div class="lt-wallet__footer">
          <i>This example uses the above address as sender's account information. Please use the associated private key for this address to make any transactions.</i>
        </div>
      </div>
      <div class="lt-wallet__right" ref="parent">
        <toggle :parent="$refs.parent">
          <div class="lt-wallet__form" v-if="!trasactionComplete" key="form">
            <transition name="slide-fade">
              <div class="lt-wallet__error" v-if="formError">{{formError}}</div>
            </transition>
            <div class="lt-form__title">Make a transaction</div>
            <div class="lt-form__fields">
              <div class="lt-form__field">
                <label class="lt-form__label" for="recipient-address">To Wallet</label>
                <input class="lt-form__control" :class="{'lt-form__control--error': recipientError}" name="recipient-address" @blur="validateRecipient()" autocomplete="off" type="text" placeholder="Address of the recipient" id="recipient-address" v-model="recipientAddress"/>
                <transition name="slide-fade">
                  <div class="lt-form__error" v-if="recipientError">{{recipientError}}</div>
                </transition>
              </div>
              <div class="lt-form__field">
                <label class="lt-form__label" for="private-key">Private key</label>
                <input class="lt-form__control" :class="{'lt-form__control--error': keyError}" name="private-key" @blur="validateKey()" type="password" placeholder="Your sceret key" id="private-key" v-model="privateKey"/>
                <transition name="slide-fade">
                  <div class="lt-form__error" v-if="keyError">{{keyError}}</div>
                </transition>
              </div>
              <div class="lt-form__field">
                <label class="lt-form__label" for="amount">Amount to be transfered</label>
                <input class="lt-form__control" :class="{'lt-form__control--error': amountArror}" @blur="validateAmount()" type="number" id="amount" v-model="transferAmount"/>
                <transition name="slide-fade">
                  <div class="lt-form__error" v-if="amountArror">{{amountArror}}</div>
                </transition>
              </div>
              <div class="lt-form__field">
                <label class="lt-form__label" for="private-key">Message</label>
                <textarea class="lt-form__control lt-form__textarea" v-model="msg"></textarea>
              </div>
            </div>
            <div class="lt-form__actions">
              <button class="lt-form__button" :class="{'lt-form__button--loader': loading}" @click="makeTrasaction()">Send</button>
            </div>
          </div>
          <div class="lt-wallet__content" style="margin:auto;flex:0;" key="successful" v-else>
            <div class="lt-wallet__icon">
              <img src="https://cdn3.iconfinder.com/data/icons/personal-business-finance/64/x-60-512.png" height="40"/>
            </div>
            <div class="lt-wallet__heading">Transaction successful!</div>
            <div class="lt-wallet__info">
              Your last transaction has been successful. Your wallet will be updated soon.
            </div>
            <div class="lt-wallet__link" @click="makeAnotherTransaction()">
              Make another transaction &rarr;
            </div>
          </div>
        </toggle>
      </div>
    </div>
    <div class="lt-toasts" v-if="toast">
      <div class="lt-toast">
        <div class="lt-toast__container">
          <div class="lt-toast__icon">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="lt-toast__main">
            <div class="lt-toast__content">
              Transaction completed successfully
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import nem from "nem-sdk";
import toggle from "@/components/ToggleAnimation.vue";

const balanceComma = new Intl.NumberFormat("en-US");

export default {
  data() {
    return {
      msg: "",
      address: "TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6",
      endpoint: {
        protocol: "http",
        host: "https://adamexperimental.cyberblox.my",
        port: 7891
      },
      balance: null,
      recipientAddress: "",
      privateKey: "",
      transferAmount: 0,
      recipientError: "",
      keyError: "",
      amountArror: "",
      loading: false,
      transactions: {},
      formError: "",
      trasactionComplete: false,
      highlight: false,
      toast: false,
      unconfirmedTxns: [],
      showDetail: false
    };
  },
  components: {
    toggle
  },
  computed: {
    fmtAddress() {
      return nem.utils.format.address(this.address);
    },
    fmtBalance() {
      return `${balanceComma.format(this.balance / 1000000)} XEM`;
    }
  },
  watch: {
    balance(newValue, oldValue) {
      if (!oldValue) {
        return;
      }
      this.highlight = true;
      this.toast = true;
      window.setTimeout(() => {
        this.highlight = false;
        this.toast = false;
      }, 5000);
    }
  },
  methods: {
    validateRecipient() {
      this.recipientError = "";
      if (!this.recipientAddress) {
        this.recipientError = "Cannot be empty";
        return;
      }
      let isValid = nem.model.address.isValid(this.recipientAddress);
      if (!isValid) {
        this.recipientError = "Enter a valid address";
        return;
      }
      let isFromNetwork = nem.model.address.isFromNetwork(
        this.recipientAddress,
        nem.model.network.data.testnet.id
      );
      if (!isFromNetwork) {
        this.recipientError = "Address is not from the given network";
        return;
      }
      // if (this.recipientAddress == this.address) {
      //   this.recipientError = "Send and receiver's address cannot be the same";
      //   return;
      // }
    },
    validateKey() {
      this.keyError = "";
      if (!this.privateKey) {
        this.keyError = "Cannot be empty";
        return;
      }
      let isValid = nem.utils.helpers.isPrivateKeyValid(this.privateKey);
      if (!isValid) {
        this.keyError = "Enter a valid private key";
        return;
      }
    },
    validateAmount() {
      this.amountArror = "";
      if (!this.transferAmount) {
        this.amountArror = "Cannot be empty";
        return;
      }
      if (this.transferAmount > this.balance) {
        this.amountArror =
          "Amount to be transferred should be less than current balance";
        return;
      }
    },
    updateTrasactions() {},
    makeTrasaction() {
      this.validateRecipient();
      this.validateKey();
      this.validateAmount();
      if (this.recipientError || this.keyError || this.amountArror) {
        return;
      }
      this.formError = "";
      //create transaction entity
      let transferTransaction = nem.model.objects.create("transferTransaction")(
        this.recipientAddress,
        this.transferAmount,
        this.msg
      );
      let common = nem.model.objects.create("common")("", this.privateKey);
      //prepare transaction entity
      let transactionEntity = nem.model.transactions.prepare(
        "transferTransaction"
      )(common, transferTransaction, nem.model.network.data.testnet.id);
      //send transaction
      this.loading = true;
      nem.model.transactions
        .send(common, transactionEntity, this.endpoint)
        .then(
          res => {
            this.loading = false;
            this.trasactionComplete = true;
            this.unconfirmedTransactions();
            // console.log(res);
          },
          err => {
            this.loading = false;
            this.formError = err.data.message;
            console.log(err);
          }
        );
    },
    makeAnotherTransaction() {
      this.transferAmount = 0;
      this.recipientAddress = "";
      this.privateKey = "";
      this.trasactionComplete = false;
    },
    getAccountData() {
      nem.com.requests.account.data(this.endpoint, this.address).then(
        res => {
          // console.log(res);
          this.balance = res.account.balance;
        },
        err => {
          console.log(err);
        }
      );
    },
    unconfirmedTransactions() {
      this.showDetail = false;
      nem.com.requests.account.transactions
        .unconfirmed(this.endpoint, this.address)
        .then(
          res => {
            console.log("transactions:", res);
            this.unconfirmedTxns = res.data;
          },
          err => {
            console.log(err);
          }
        );
    },
    createSocketConnection() {
      let endpoint = nem.model.objects.create("endpoint")(
        "http://45.77.47.227",
        "7778"
      );
      // Create a connector object
      let connector = nem.com.websockets.connector.create(
        endpoint,
        this.address
      );

      // Connect using connector
      connector.connect().then(
        () => {
          // If we are here we are connected
          console.log("Connected");

          // Subscribe to new blocks channel
          nem.com.websockets.subscribe.chain.blocks(connector, res => {
            console.log(res);
          });

          // Subscribe to account data channel
          nem.com.websockets.subscribe.account.data(connector, res => {
            console.log("data:", res);
            this.balance = res.account.balance;
            this.unconfirmedTransactions();
          });

          // nem.com.websockets.subscribe.account.transactions.recent(
          //   connector,
          //   res => {
          //     console.log("transactions websocket: ", res);
          //   }
          // );

          // Request account data
          nem.com.websockets.requests.account.data(connector);

          // Request transaction data
          // nem.com.websockets.requests.account.transactions.recent(connector);
        },
        err => {
          console.log(err);
        }
      );
    }
  },
  created() {
    this.getAccountData();
    this.unconfirmedTransactions();
    this.createSocketConnection();
  }
};
</script>