$pre:											"cn";
$post:											"-";

$ele:											"__";
$mod:											"--";

$prefix:										"."+$pre+$post;


$glyph:                                         "glyph";

//------------------------------------------------------------------------------
//  icon
//------------------------------------------------------------------------------
$icon:                                          "icon";

//------------------------------------------------------------------------------
//  flag
//------------------------------------------------------------------------------
$flag:                                          "flag";


//------------------------------------------------------------------------------
// Profile
//------------------------------------------------------------------------------
$profile:                                       "profile";


//==============================================================================
//  LAYOUT
//==============================================================================
//------------------------------------------------------------------------------
//  wrapper
//------------------------------------------------------------------------------
$wrapper:                                       "wrapper";
$container:                                     "container";

//------------------------------------------------------------------------------
//  toolbar
//------------------------------------------------------------------------------
$toolbar:                                       "toolbar";

//------------------------------------------------------------------------------
//  menubar
//------------------------------------------------------------------------------
$menubar:                                       "menubar";

//------------------------------------------------------------------------------
//  filter
//------------------------------------------------------------------------------
$filter:                                       "filter";
$expression:                                   "exp";

//------------------------------------------------------------------------------
//  Grid
//------------------------------------------------------------------------------
$grid:                                          "table";

//------------------------------------------------------------------------------
//  Grid
//------------------------------------------------------------------------------
$cell:                                          "cell";
$cell-popup:                                    "wing";

//==============================================================================
//  FORM
//==============================================================================
//------------------------------------------------------------------------------
//  form
//------------------------------------------------------------------------------
$form:                                          "form";
$form-title:                                    "title";
$form-heading:                                  "heading";

$form-field:                                    "field";
$form-label:                                    "label";
$form-control:                                  "control";
$form-help:                                     "help";
$form-action:                                   "action";
//validation
$form-valid:                                    "valid";
$form-invalid:                                  "invalid";
$form-vertical:                                 "v";

$form-focus:                                    "focus";
$form-error:                                    "error";
$form-disabled:                                 "disable";
//group
$form-group:                                    "group";
$form-group-label:                              "label";
$form-group-placeholder:                        "placeholder";
$form-group-addon:                              "addon";
$form-group-fluid:                              "fluid";
//password
$form-password:                                 "password";
//date
$form-date:                                     "date";
$form-time:                                     "time";
//xtras
$form-toolbar:                                  "toolbar";
$form-tooltip:                                  "tooltip";
//size
// $form-small:                                    "sm";


//------------------------------------------------------------------------------
//  radio
//------------------------------------------------------------------------------
$radio:                                         "radio";

//------------------------------------------------------------------------------
//  checkbox
//------------------------------------------------------------------------------
$checkbox:                                      "checkbox";

//------------------------------------------------------------------------------
//  DatePicker
//------------------------------------------------------------------------------
$date-picker:                                   "date";

//------------------------------------------------------------------------------
//  switch
//------------------------------------------------------------------------------
$switch:                                        "switch";


//------------------------------------------------------------------------------
//  choose
//------------------------------------------------------------------------------
$choose:                                        "choose";

//------------------------------------------------------------------------------
//  menu
//------------------------------------------------------------------------------
$menu:                                          "menu";
$menu-tag:                                      "tag";
$menu-label:                                    "label";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//label variant
$menu-labela:                                   $menu-label+"a";
$menu-labelb:                                   $menu-label+"b";
$menu-labelc:                                   $menu-label+"c";
$menu-labeld:                                   $menu-label+"d";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$menu-container:                                "container";
$menu-search:                                   "search";
$menu-wrap:                                     "wrap";
$menu-main:                                     "main";
$menu-header:                                   "header";
$menu-content:                                  "content";
$menu-list:                                     "list";
$menu-item:                                     "item";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//item variant
$menu-itema:                                   	$menu-item+"a";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$menu-filter:                                   "filter";
$menu-footer:                                   "footer";
$menu-disabled:                                 "disabled";
$menu-active:                                   "active";
$menu-upgrade:                                  "upgrade";
$menu-symbol:                                  	"symbol";

//------------------------------------------------------------------------------
//  button
//------------------------------------------------------------------------------
$button:                                        "btn";
//state
$button-brand:                                  "brand";
$button-primary:                                "primary";
$button-accent:                                 "accent";
$button-link:                                   "link";
$button-warn:                                   "warn";
$button-danger:                                 "danger";
$button-success:                                "success";
//style
$button-raised:                                 "raised";
$button-stroke:                                 "stroke";
$button-disabled:                               "disabled";
//size
$button-large:                                  "lg";
$button-small:                                  "sm";
$button-xsmall:                                 "xs";
//helper
$button-icon:                                   "icon";
$button-progress:                               "spinner";


//------------------------------------------------------------------------------
//  modal
//------------------------------------------------------------------------------
$modal:                                         "modal";
$modal-wrap:                                    "wrap";
$modal-container:                               "container";
$modal-block:                               	"block";
$modal-main:                                    "main";
$modal-header:                                  "header";
$modal-content:                                 "content";
$modal-aside:                                  	"aside";
$modal-action:                                  "action";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//modal variant
$modal-feedback:                                $modal+"fb";
$modal-verify:                                	$modal+"vy";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//------------------------------------------------------------------------------
//  popup
//------------------------------------------------------------------------------
$popup:                                      	"popup";
$popup-content:                                 "content";

//------------------------------------------------------------------------------
//  message
//------------------------------------------------------------------------------
$message:                                       "message";
$message-container:                             "container";
$message-main:                                  "main";
$message-icon:                                  "icon";
$message-header:                                "header";
$message-content:                               "content";
$message-title:                                 "title";
$message-display:                               "display";
$message-heading:                               "heading";
$message-aside:                                 "aside";
$message-icon:                                  "icon";
$message-glyph:                                 "glyph";
//status
$message-info:                                  "info";
$message-warn:                                  "warn";
$message-danger:                                "danger";
$message-success:                               "success";
$message-upgrade:                               "upgrade";

//------------------------------------------------------------------------------
//  link
//------------------------------------------------------------------------------
$link:                                          "link";

//------------------------------------------------------------------------------
//  settings
//------------------------------------------------------------------------------
$settings:                                      "settings";
$settings-container:                            "container";
$settings-main:                                 "main";
$settings-block:                                "block";
$settings-aside:                                "aside";
$settings-toolkit:                              "toolkit";
$settings-breadcrumb:                           "breadcrumb";
$settings-sidebar:                              "sidebar";
$settings-segment:                              "segment";
$settings-backward:                             "backward";
$settings-title:                                "title";


//==============================================================================
//  VIEWS
//==============================================================================
//------------------------------------------------------------------------------
//  paper
//------------------------------------------------------------------------------
$paper:                                         "paper";

//------------------------------------------------------------------------------
//article
//------------------------------------------------------------------------------
$article:                                       "article";
$article-container:                             "container";
$article-main:                                  "main";
$article-header:                                "header";
$article-content:                               "content";
$article-footer:                                "footer";
$article-headline:                              "headline";
$article-title:                                 "title";
$article-heading:                               "heading";
$article-display:                               "display";
$article-aside:                                 "aside";
//panel
$article-panel:                                 "panel";
$article-panel-filled:                          "filled";
$article-panel-warn:                            "warn";
$article-panel-disabled:                        "disabled";

//------------------------------------------------------------------------------
//  Table
//------------------------------------------------------------------------------
$table:                                         "table";
$table-row:                                     "row";
$table-col:                                     "col";
$table-head:                                    "head";
$table-disabled:                                "disabled";
$table-action:                                 	"action";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//action variant
$table-actiona:                                 $table-action+"a";
$table-actionb:                                 $table-action+"b";
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//------------------------------------------------------------------------------
//  label
//------------------------------------------------------------------------------
$label:                                         "label";
$label-fill:                                    "fill";
$label-stroke:                                  "stroke";
$label-round:                                   "round";

//------------------------------------------------------------------------------
//  pocket
//------------------------------------------------------------------------------
$pocket:                                        "pocket";

//------------------------------------------------------------------------------
//  Step
//------------------------------------------------------------------------------
$step:                                          "step";