//==============================================================================
//  css variable
//==============================================================================
:root {
  --bodyfill: #EAEAF4;		//same goes to 'settings_fill'
}

//==============================================================================
// abbreviation
//==============================================================================
//------------------------------------------------------------------------------
// sizes
//------------------------------------------------------------------------------
// ti -> tiny
// mi -> mini
// xs -> extra small
// sm -> small
// st -> standard
// md -> medium
// lg -> large
// xl -> extra large

//------------------------------------------------------------------------------
// font
//------------------------------------------------------------------------------
// size 	-> font-size
// weight 	-> font-weight
// family 	-> font-famly

//------------------------------------------------------------------------------
// color
//------------------------------------------------------------------------------
// text 	-> color
// stroke 	-> border

// fill 	-> background-color (brand)
// tint 	-> background-color (light)
// tone 	-> background-color (dark)
// shade 	-> background-color (darker)
// hues		-> background-color (bright)
// alpha 	-> background-color (opacity)

//==============================================================================
//  GLOBAL
//==============================================================================
//------------------------------------------------------------------------------
//  font-family
//------------------------------------------------------------------------------
$family_sans:                               -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$family_serif:                              Cambria, Georgia, Times New Roman, Times, serif;
$family_mono:                               Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
$family_glyph:                              "cnglyph"!important;
$family_tabular:                            "Helvetica Neue", Helvetica, sans-serif;

//------------------------------------------------------------------------------
//  font-weight
//------------------------------------------------------------------------------
$weight_normal:                             400;
$weight_medium:                             500;
$weight_bold:                               600;
$weight_bolder:                             700;

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$size_xs:                                   10px;
$size_sm:                                   12px;
$size_st:                                   14px;
$size_md:                                   16px;
$size_lg:                                   21px;
$size_xl:                                   28px;
$size_xxl:                                  38px;

//------------------------------------------------------------------------------
//  color
//------------------------------------------------------------------------------
$color_black:                               #000000;    //darkest black
$color_white:                               #ffffff;    //white
$color_link:                                #3367d6;    //blue

//------------------------------------------------------------------------------
//  shadow
//------------------------------------------------------------------------------
$shadow_dp1:                                 0 1px 2px 0 rgba(0,0,20,0.08), 0 2px 4px 0 rgba(0,0,20,0.08); //table, paper
$shadow_dp2:                                 0 1px 2px 0 #E0E0E4; //button, choose
$shadow_dp3:                                 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24); //hover for button, choose

//------------------------------------------------------------------------------
//  gutter >> padding
//------------------------------------------------------------------------------
$gutter_xl: 								                56px;
$gutter_lg:                                 40px;
$gutter_md:                                 32px;
$gutter_st:                                 24px; //paper and table must be same
$gutter_sm:                                 16px;
$gutter_xs:                                 12px;
$gutter_mi:                                 8px;
$gutter_ti:                                 4px;

//------------------------------------------------------------------------------
//  spacer >> margin
//------------------------------------------------------------------------------
$spacer_xl: 								                56px;
$spacer_lg: 								                40px;
$spacer_md: 								                32px;
$spacer_st: 								                24px;
$spacer_sm: 								                16px;
$spacer_xs: 								                12px;
$spacer_mi: 								                8px;
$spacer_ti: 								                4px;

//==============================================================================
//  COLORS
//==============================================================================
//------------------------------------------------------------------------------
// base
//------------------------------------------------------------------------------
$base_text:                                 #202022;
$base_stroke:                               #d2d2d3; //#e1e1e1;
$basea_stroke:								              #E0E0E4;
$base_fill:                                   $color_white;
//hover
$base_hover_fill:                           #EAF1FF;        //light blue

//------------------------------------------------------------------------------
// info > blue
//------------------------------------------------------------------------------
$info_text:                         		  #1565C0;
$info_stroke:                       		  #a4baf0;
//background
$info_fill:                         		    $info_text;
$info_tint:                         		  #eff3fc;

//------------------------------------------------------------------------------
// warn > yellow
//------------------------------------------------------------------------------
$warn_text:                                 #FFA000;	//#DCA000
$warn_texta:                                #73361f;	//#DCA000
$warn_stroke:                               #FFD246;
//background
$warn_fill:                                 #F08C00; //#FFFAED
$warn_tint:									                #FFF5DC;
$warn_tone:                                	#FFEBB5;

//------------------------------------------------------------------------------
// danger > red
//------------------------------------------------------------------------------
$danger_text:                              	#E0182D;
$danger_stroke:                     		    #ED6347;
//background
$danger_fill:                       		    #FF3D00;
$danger_tint:                       		    #FCE8E5;

//------------------------------------------------------------------------------
// success > green
//------------------------------------------------------------------------------
$success_text:                             	#3CA03C;
$success_stroke:                    		    #0AB450;
$success_fill:                             	#0AB450;  //#3CA03C
$success_tint:                              #e6f5e4;

//------------------------------------------------------------------------------
// muted (medium to base and acme)	//gray
//------------------------------------------------------------------------------
$muted_text:                                #646468;
$muted_fill:                                #F2F2F8;
$muted_stroke:                              #DDD;

//------------------------------------------------------------------------------
// disable //light gray
//------------------------------------------------------------------------------
$disable_text:                              $muted_text;
$disable_fill:                              #f6f6f6;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//==============================================================================
//  BASE
//==============================================================================
//------------------------------------------------------------------------------
//  base
//------------------------------------------------------------------------------
//font
$base_family:                               $family_sans;
$base_size:                                 $size_st;
$base_lh:                           		    1.5;

//------------------------------------------------------------------------------
//  heading
//------------------------------------------------------------------------------
//font-size
$size_h1:                                   $size_xl;
$size_h2:                                   $size_lg;
$size_h3:                                   $size_md;
$size_h4:                                   $size_st;
$size_h5:                                   $size_sm;
$size_h6:                                   $size_sm;

//------------------------------------------------------------------------------
//wrapper
//------------------------------------------------------------------------------
$container_gutter:                          40px;
$container_width:                           1280px;
$container_inner:                           $container_width - ($container_gutter * 2);