<template>
  <div id="app">
    <div class="lt-app">
      <div class="lt-app__container">
        <div class="lt-app__header">
          <div class="lt-app__logo">
            <img src="https://luxtag.io/wp-content/uploads/2018/04/Asset-1-uai-720x278.png" class="lt-app__img"/>
          </div>
        </div>
        <div class="lt-app__content">
          <Wallet/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Wallet from "@/components/Wallet";

export default {
  name: "app",
  components: {
    Wallet
  }
};
</script>
<style src="@/assets/styles/app.scss" lang="scss"></style>